<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingwei.voicetalkback_module">

    <application>
        <activity android:name=".rtc.activity.HomeActivity"></activity>
        <activity android:name=".rtc.activity.SuperRoomActivity"/>
        <activity android:name=".rtc.activity.VoipP2PActivity"/>
        <activity android:name=".rtc.activity.VoipP2PRingingActivity"/>
        <service android:name=".KeepLiveService">
            <intent-filter>
                <action android:name="com.starrtc.demo.service.KeepLiveService" />
            </intent-filter>
        </service>
    </application>

</manifest>